
  /* forgetpassword modal css start here */
  
  section.forget-password-section .form-control {
    border-radius: unset;
    color: #A2A2A2;
      font-size: 12px;
  }
  section.forget-password-section .modal-body {
    background: #f7f7f7;
    padding: 3rem;
    position: relative;
    margin: 1rem;
  }
  section.forget-password-section .modal-header {
    border: unset;
  }
  section.forget-password-section button.close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  section.forget-password-section .modal-content {
    width: 35em;
  }
  section.forget-password-section h3.create-head span {
    margin-right: 10px;
  }
  section.forget-password-section h3.create-head {
    font-size: 13px;
    font-weight: 400;
  }
  section.forget-password-section p.al-account {
    font-size: 10px;
    margin: 0;
    background: #e9e9e9;
    padding: 7px;
    font-weight: 700;
  }
  section.forget-password-section .col-md-6.already-head {
    width: fit-content;
    margin: auto;
  }
  section.forget-password-section .form-check {
    margin-left: 1.5rem;
  }
  section.forget-password-section button.btn.CREATE-signup {
    color: white;
    font-size: 14px;
    background: #ed0058;
  }
  section.forget-password-section button i.fa.fa-unlock {
    margin-right: 8px;
  }
  section.forget-password-section i.fa.fa-lock {
    font-size: 12px;
  }
  section.forget-password-section span.privacy-imp {
    font-size: 11px;
  }
  section.forget-password-section .form-group.forget {
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 1rem;
}
section.forget-password-section .forgot1 {
    font-size: 12px;
}
  /* forgetpassword modal css End here */