/* Products Css Start Here */
.products {
  padding: 60px 0;
}
.products .product_box {
  margin-top: 40px;
}
.products .product_box img {
  width: 100%;
}
.products .filter {
  display: flex;
  align-items: center;
  width: 55%;
}
.products .filter span.showing_result {
  width: 400px;
  margin: 1px 10px 0 0;
  padding: 4px 10px;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #777777;
  text-align: center;
}
.products .filter .form-control {
  font-size: 13px;
  font-family: "Open Sans";
  border: solid 1px #ddd;
  border-radius: 0;
  padding: 0px 10px;
  height: 31px !important;
}
.products .product_box {
  border: 1px solid #e5e5e5;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.products .product_box .sale_tag {
  background: #0296c0;
  color: #fff;
  font-size: 13px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  right: 0;
  top: -20px;
}
.products .product_box .product_detail h4.name {
  font-size: 26px;
  color: #000;
}
.products .product_box .product_detail h5.price {
  font-size: 16px;
  color: #ec155a;
  font-weight: 600;
  font-family: "Open Sans";
}
.products .product_box .product_detail h5.price del {
  font-size: 11px;
  color: #91919180;
}
.products .product_box .buttons-group a {
  padding: 2px 5px;
  color: #0296c1;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  transition: 0.3s;
}
.products .product_box .buttons-group {
  padding: 5px 0;
  border-top: 1px solid #ddd;
}
.products .product_box .buttons-group a:hover {
  background: #0296c0;
  color: #fff;
}
.products .product_box a {
  text-decoration: none;
}
.products .product_sidebar h5 {
  font-size: 15px;
  color: #222222;
}
.products .product_sidebar .cartDv {
  background: #f7f7f7;
  padding: 13px 10px;
  margin-bottom: 30px;
  font-size: 13px;
  font-style: italic;
  color: #777777;
  margin-top: 20px;
  position: relative;
}
.products .product_sidebar .cartDv:before {
  content: "";
  position: absolute;
  top: -20px;
  margin: 0;
  margin-left: -5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0000;
  padding: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f7f7f7;
  left: 20px;
}
.products .product_sidebar .search_bar {
  background: #f7f7f7;
  padding: 15px 10px;
  border-radius: 5px;
}
.products .product_sidebar .search_bar .search_box {
  display: flex;
}
.products .product_sidebar .search_bar .search_box .form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 6px 10px;
}
.products .product_sidebar .search_bar .search_box .form-control::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
}
.products .product_sidebar .search_bar .search_box button {
  padding: 0 15px;
  background: #0296c0;
  border: 0;
  color: #fff;
  border-radius: 3px;
}
.products .product_sidebar .size_filter {
  margin-top: 30px;
}
.products .product_sidebar .size_filter .form-control {
  font-size: 14px;
  color: #444444b8;
  font-family: "Open Sans";
  height: 35px;
  padding: 0 10px;
}
.products .product_sidebar .color_filter {
  margin-top: 30px;
}
.products .product_sidebar .color_filter .form-control {
  font-size: 14px;
  color: #444444b8;
  font-family: "Open Sans";
}
/* Range Slider Css Start Here */

/* Range Slider Css Start Here */

/* Products Css End Here */
